* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    color: #4a4a4a;
}



body {
    margin: 1% 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #FFFFFF;
}

.header {
    display: grid;
    grid-template-areas:
        "logo title"
        "logo nav";
        grid-gap: 0em 5%;
}

.logo {
    grid-area: logo;
    /* min-width: 80px; */
    max-width: 120px;
    display: block;
    height: auto;
    justify-self: end;
}

.title {
    margin: 1% 0;
    grid-area: title;
    
}

.nav-bar {
    grid-area: nav;
    margin-bottom: 2.5em;
}

ul {
    list-style-type: none;
}

li:first-child {
    margin: 0;
}

li {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: #4a4a4a;
    margin: 0 50px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.slider-container:last-child {
 margin-bottom: 2.5em;
}


.slider {
    width: 100%;
    margin: 2.5% 0;
    -webkit-appearance: none; 
    appearance: none;
    height: 15px;
    background: linear-gradient(to left bottom, #ee7207, #dc091a, #B31E49, #972369, #13277F);
    outline: none; 
    opacity: 0.7; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    /* background: linear-gradient(to right bottom, #ee7207, #dc091a, #B31E49, #972369, #2A3C8B); */
    background: #13277F;
    border-radius: 20px;
    cursor: pointer; 
  }

  .slider-label {
    margin: 0 5%;
    padding: 0 2%;
    width: 150px;
  }

  .programme-slots {
      display: grid;
      margin: 2%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2%;
  }


  .programme-slot-title {
      background: #F9F9FB;
      border: 1px solid #4a4a4a;
      text-align: center;
      margin-bottom: 2%;
      border-radius: 3%;
  }
  .programme-slot-img {
    background: #F9F9FB;
    height: 200px;
    margin: 2% 0;
    border: 1px solid #4a4a4a;
    text-align: center;
    border-radius: 3%;
    
  }
