
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    color: #4a4a4a;
}


/* SHARED */
body {
    margin: 1% 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #FFFFFF;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 500px) minmax(min-content, 1fr);
    grid-gap: 1em 0%;
 
}

.logo {
    grid-column-start: 1;
    grid-row: 1/2;
    max-width: 80px;

    height: auto;
    justify-self: start;
    margin-left: 20%;
}

.title {
    grid-column-start: 2/3;
    justify-self: center;
   
}

.nav-bar {
    grid-column: 2;
    grid-row: 2;
    justify-self: center; 
    margin: 0 0 2em 0; 
}

ul {
    list-style-type: none;
}

li:first-child {
    margin: 0;
    border-left: none;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #4a4a4a;
    margin: 0 15px;
    text-decoration: none;
    border-left: 1px solid #4a4a4a;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: block;
}

a:visited {
    color: #4a4a4a;
}


/******** MOODSLIDER ********/

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.slider-container:last-child {
 margin-bottom: 2.5em;
}


.slider {
    width: 50%;
    margin: 2.5% 0;
    -webkit-appearance: none; 
    appearance: none;
    height: 20px;
    background: linear-gradient(to right bottom, #ee7207, #dc091a, #B31E49, #972369, #13277F);
    outline: none; 
    opacity: 0.7; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 40px; 
   
    background: #13277F;
    border-radius: 20px;
    cursor: pointer; 
  }

  .slider-label {
    margin: 0 5%;
    padding: 0 2%;
    width: 150px;
    font-size: 20px;
    font-weight: 400;
    color: #4a4a4a;
  }

  .programme-slot {
      color: #4a4a4a;
      font-weight: 300;
      display: block;
  }
  a.programme-slot-link {
      color: #13277F;
      margin: 20% auto;
      border: 1px #13277F dashed;
      /* background:  #ee7207; */
      border-radius: 6px;
      padding: 10px;
      width: 60%;
      opacity: 0.5;
      transition: 0.3s;
  }

  a.programme-slot-link:hover {
    opacity: 1;
  }

  .programme-slots {
      display: grid;
      margin: 2%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2%;
  }

  .programme-slot-img {
    background: #F9F9FB;
    height: 200px;
    margin: 2% 0;
    border: 1px solid rgb(235, 235, 235);
    
    border-width: 2px;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
  }

  .programme-slot-title {
    background: #F9F9FB;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 6px;
    text-align: center;
    margin-bottom: 2%;
    height: 20px;
}

/******** UPLOAD ********/

.dropbox {
    height: 100%;
    background: red;
}



/******** MEDIA QUERIES ********/

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 30px;
        font-weight: 300;
        color: #4a4a4a;
    }

    li {
        font-size: 22px;
        margin-bottom: 1em;
    }

    .logo {
        margin: 0 20%;
        justify-self: start;
    }
    
    .title {
        justify-self: center;
       
    }
    .slider-label {
        font-size: 20px;
        font-weight: 400;
        color: #4a4a4a;
      }

      .slider {
        width: 90%;
        margin: 5% 0;
        height: 14px;
    
    }
    
    .slider::-webkit-slider-thumb {
        width: 20px; 
        height: 40px; 
        cursor: pointer; 
      }

}

@media screen and (max-width: 500px) {
    
    .header {
        margin: 0 2%;
        display: grid;
        width: 100%;
        grid-template-areas: 
            'logo'
            'title'
            'nav';
        grid-gap: 1em 0%;
        grid-template-columns: none;
     
    }
    
    h1 {
        font-size: 24px;
        font-weight: 300;
        color: #4a4a4a;
    }

    li {
        font-size: 18px;
        margin-bottom: 1em;
    }

    .logo {
        margin: 0 2%;
        grid-area: logo;
        justify-self: start;
    }
    
    .title {
        grid-area:title;
        justify-self: center;
       
    }
    
    .nav-bar {
        grid-area:nav;
        justify-self: center;
    }

    .slider-label {
        font-size: 18px;
        color: #4a4a4a;
      }

      .slider {
        width: 90%;
        margin: 10% 0;
        height: 12px;
    
    }
    
    .slider::-webkit-slider-thumb {
        width: 15px; 
        height: 30px; 
        cursor: pointer; 
      }
    


}
